# Files IDE, Text Editors, Logs
.idea
www/.vscode
.vscode
www/build/
www/*.log
.DS_Store

# Directory Database and Mosquitto
db_data/
mosquitto/

# Cache, session files and logs
www/cache/*
!www/cache/.gitkeep

www/
# Managed by Composer
www/composer.lock
www/vendor/*
!www/vendor/.gitkeep
